In [127]:
import pandas as pd
import colorama
from colorama import Fore, Back, Style
import time

In [128]:
#importing profiles data base

sheet_name="Profiles"

profiles_df=pd.read_excel("costs_of_living.xlsx",sheet_name=sheet_name)
profiles_df.set_index("param",inplace=True)

In [129]:
profiles_df

                Basic          Mid        Upper
param
Lisbon     691.166761   885.390078  1304.238035
Barcelona  839.507446  1065.145893  1547.191482

In [130]:
#importing questions data base

sheet_name="Question"

questions_df=pd.read_excel("costs_of_living.xlsx",sheet_name=sheet_name)
questions_df

                                     param  Barcelona  Lisbon
0  Fitness Club, Monthly Fee for 1 Adult        42.48   37.50
1  Tennis Court Rent (1 Hour on Weekend)        22.52   11.33

In [131]:
#importing quantities data base

sheet_name="Quantities"

qtts_df=pd.read_excel("costs_of_living.xlsx",sheet_name=sheet_name)
qtts_df

,param,Barcelona,Lisbon,Basic
0,Cigarettes,5.00,5.30,1.000000
1,"Cinema, International Release, 1 Seat",9.00,7.10,1.000000
2,1 Pair of Jeans (Levis,73.28,76.50,0.166667
3,"1 Summer Dress in a Chain Store (Zara, H&M, .....",31.18,31.27,0.166667
4,1 Pair of Nike Running Shoes (Mid-Range),76.62,68.43,1.000000
5,1 Pair of Men Leather Business Shoes,101.15,89.66,1.000000

In [132]:
## import housing dataframes

cities_list=["Lisbon","Barcelona"]

lx_houses=pd.read_csv("lisbon.csv")
bcn_houses=pd.read_csv("barcelona.csv")

dict_city={"lisbon":lx_houses,"barcelona":bcn_houses}

bcn_houses

,Unnamed: 0,typology,neighbourhood,cost_month,url
0,0,Bedroom,La Nova Esquerra de l'Eixample (Eixample),€600,https://www.uniplaces.com/accommodation/barcel...
1,1,Bedroom,Sants (Sants - Montjuïc),€450,https://www.uniplaces.com/accommodation/barcel...
2,2,Bedroom,El Raval (Ciutat Vella),€495,https://www.uniplaces.com/accommodation/barcel...
3,3,Entire Place,Vila de Gràcia (Gràcia),"€1,650",https://www.uniplaces.com/accommodation/barcel...
4,4,Bedroom,El Baix Guinardó (Horta - Guinardó),€470,https://www.uniplaces.com/accommodation/barcel...
5,5,Bedroom,El Parc i la Llacuna del Poblenou (Sant Martí),€500,https://www.uniplaces.com/accommodation/barcel...
6,6,Entire Place,El Carmel (Horta - Guinardó),€950,https://www.uniplaces.com/accommodation/barcel...
7,7,Bedroom,El Raval (Ciutat Vella),€439,https://www.uniplaces.com/accommodation/barcel...
8,8,Entire Place,"Sant Pere, Santa Caterina i la Ribiera (Ciuta...","€3,995",https://www.uniplaces.com/accommodation/barcel...
9,9,Entire Place,Barrio Gótico (Ciutat Vella),"€2,300",https://www.uniplaces.com/accommodation/barcel...
10,10,Entire Place,Barrio Gótico (Ciutat Vella),"€1,700",https://www.uniplaces.com/accommodation/barcel...
11,11,Entire Place,El Raval (Ciutat Vella),"€1,195",https://www.uniplaces.com/accommodation/barcel...
12,12,Bedroom,El Parc i la Llacuna del Poblenou (Sant Martí),€680,https://www.uniplaces.com/accommodation/barcel...
13,13,Bedroom,El Camp de l'Arpa del Clot (Sant Martí),€450,https://www.uniplaces.com/accommodation/barcel...
14,14,Entire Place,Barrio Gótico (Ciutat Vella),"€1,500",https://www.uniplaces.com/accommodation/barcel...
15,15,Entire Place,El Congrés i els Indians (Sant Andreu),"€1,690",https://www.uniplaces.com/accommodation/barcel...
16,16,Entire Place,El Raval (Ciutat Vella),"€1,050",https://www.uniplaces.com/accommodation/barcel...
17,17,Entire Place,L'Antiga Esquerra de l'Eixample (Eixample),"€2,400",https://www.uniplaces.com/accommodation/barcel...
18,18,Entire Place,La Marina del Port (Sants - Montjuïc),"€1,595",https://www.uniplaces.com/accommodation/barcel...
19,19,Entire Place,Barrio Gótico (Ciutat Vella),"€1,695",https://www.uniplaces.com/accommodation/barcel...
20,20,Entire Place,La Bordeta (Sants - Montjuïc),"€1,795",https://www.uniplaces.com/accommodation/barcel...
21,21,Entire Place,Barrio Gótico (Ciutat Vella),"€2,300",https://www.uniplaces.com/accommodation/barcel...
22,22,Entire Place,El Raval (Ciutat Vella),"€1,295",https://www.uniplaces.com/accommodation/barcel...
23,23,Entire Place,Dreta de l'Eixample (Eixample),"€3,100",https://www.uniplaces.com/accommodation/barcel...
24,24,Entire Place,El Congrés i els Indians (Sant Andreu),"€1,690",https://www.uniplaces.com/accommodation/barcel...
25,25,Entire Place,El Poblenou (Sant Martí),"€2,100",https://www.uniplaces.com/accommodation/barcel...
26,26,Entire Place,Hostafrancs (Sants - Montjuïc),€745,https://www.uniplaces.com/accommodation/barcel...
27,27,Entire Place,Sant Antoni (Eixample),"€1,795",https://www.uniplaces.com/accommodation/barcel...
28,28,Entire Place,El Raval (Ciutat Vella),"€1,350",https://www.uniplaces.com/accommodation/barcel...
29,29,Entire Place,Sants (Sants - Montjuïc),"€1,395",https://www.uniplaces.com/accommodation/barcel...
30,30,Entire Place,El Poblenou (Sant Martí),"€1,390",https://www.uniplaces.com/accommodation/barcel...
31,31,Entire Place,Sant Gervasi - Galvany (Sarrià - Sant Gervasi),"€8,000",https://www.uniplaces.com/accommodation/barcel...
32,32,Entire Place,Sant Gervasi - Galvany (Sarrià - Sant Gervasi),"€10,000",https://www.uniplaces.com/accommodation/barcel...
33,33,Entire Place,Sant Gervasi - Galvany (Sarrià - Sant Gervasi),"€8,000",https://www.uniplaces.com/accommodation/barcel...
34,34,Entire Place,La Barceloneta (Ciutat Vella),"€2,000",https://www.uniplaces.com/accommodation/barcel...
35,35,Bedroom,La Maternitat i Sant Ramon (Les Corts),€480,https://www.uniplaces.com/accommodation/barcel...
36,36,Entire Place,El Fort Pienc (Eixample),"€1,690",https://www.uniplaces.com/accommodation/barcel...
37,37,Bedroom,El Fort Pienc (Eixample),€610,https://www.uniplaces.com/accommodation/barcel...
38,38,Entire Place,L'Antiga Esquerra de l'Eixample (Eixample),"€1,650",https://www.uniplaces.com/accommodation/barcel...
39,39,Entire Place,Sants (Sants - Montjuïc),"€1,395",https://www.uniplaces.com/accommodation/barcel...
40,40,Entire Place,"Sant Pere, Santa Caterina i la Ribiera (Ciuta...","€1,650",https://www.uniplaces.com/accommodation/barcel...
41,41,Bedroom,La Salut (Gràcia),€644,https://www.uniplaces.com/accommodation/barcel...
42,42,Entire Place,Dreta de l'Eixample (Eixample),"€3,350",https://www.uniplaces.com/accommodation/barcel...
43,43,Entire Place,Dreta de l'Eixample (Eixample),"€5,500",https://www.uniplaces.com/accommodation/barcel...
44,44,Entire Place,Dreta de l'Eixample (Eixample),"€4,100",https://www.uniplaces.com/accommodation/barcel...

In [133]:
### STARTING THE JOURNEY

budget = 0

print("WELCOME to our budget generator! \n Exciting times ahead!! If you're here is because you're feeling your feet itchy and want to go abroad, are we right?! \n We're to help you make the best decision and give you an honest answer of how much you are expected to spend per month based on your profile. \n But first we need to ask you a few questions.")
time.sleep(2)

input("What's your age?")
time.sleep(1)
print("Thank you")
time.sleep(1)
input("Whats the gender you indentify with? F/M/Other?")
time.sleep(1)
print("Thank you")
time.sleep(1)

WELCOME to our budget generator!
 Exciting times ahead!! If you're here is because you're feeling your feet itchy and want to go abroad, are we right?!
 We're to help you make the best decision and give you an honest answer of how much you are expected to spend per month based on your profile.
 But first we need to ask you a few questions.
Thank you
Thank you

In [134]:
## DEFINE CITY OF CHOICE

print("Now, from our city database, which we are continuosly working to expand, which city would you like us to generate your monthly living budget to? \n Curently our cities are: Lisbon or Barcelona.\n" )
answer=input("WHAT'S YOUR CHOICE? LX OR BCN?")

if answer.upper()!= "LX" and answer.upper()!= "BCN":
    answer=input("Sorry, I couldn't understand that. \n WHAT'S YOUR CHOICE? LX OR BCN?")
else: 
    pass

if answer.upper()=="LX":
    city="Lisbon"
elif answer.upper()=="BCN":
    city="Barcelona"

print("Thank you")
time.sleep(1)

Now, from our city database, which we are continuosly working to expand, which city would you like us to generate your monthly living budget to?
 Curently our cities are: Lisbon or Barcelona.

Thank you

In [135]:
## defining cities identifiers (for houses databases)

if city== "Lisbon":
    city_short="lx"
elif city=="Barcelona":
    city_short="bcn"

In [136]:
#DEFINE THE PERSON'S PROFILE

print("GREAT!! " + city + ", here we go!\n Now, we need to know a bit more about you so we can give you the most personalise budget possible." )

time.sleep(1)
print("Now, what type of person are you? Are we talking to a party animal, foodie and restaurant top explorer or the chilled friend of the group that prefers to stay home? \n Would you say you like going out for drinks and dinner much? How much?")
time.sleep(3)

print("\n Hmmm the normal amount I guess? (N) \n I can eat in and chill at home but I also love to explore a lot of the restaurantes and bars of the city! (M) \n C'mon, I'm moving to a new city, plus I'm not the best cook, I want to explore most of the bars and restaurants I can!! (U)")
answer=input("")

time.sleep(1)

if answer.upper()!= "N" and answer.upper()!= "M" and answer.upper()!= "U":
    answer=input("Hmmm the normal amount I guess? (N) \n I can eat in and chill at home but I also love to explore a lot of the restaurantes and bars of the city! (M) \n C'mon, I'm moving to a new city, plus I'm not the best cook, I want to explore most of the bars and restaurants I can!! (U)")
else: 
    pass

#answer = Profiles

if answer.upper()=="N":
    Profiles="Basic"
elif answer.upper()=="M":
    Profiles="Mid"
elif answer.upper()=="U":
    Profiles="Upper"

GREAT!! Barcelona, here we go!
 Now, we need to know a bit more about you so we can give you the most personalise budget possible.
Now, what type of person are you? Are we talking to a party animal, foodie and restaurant top explorer or the chilled friend of the group that prefers to stay home?
 Would you say you like going out for drinks and dinner much? How much?

 Hmmm the normal amount I guess? (N)
 I can eat in and chill at home but I also love to explore a lot of the restaurantes and bars of the city! (M)
 C'mon, I'm moving to a new city, plus I'm not the best cook, I want to explore most of the bars and restaurants I can!! (U)

In [137]:
Profiles

'Mid'

In [138]:
profiles_df

                Basic          Mid        Upper
param
Lisbon     691.166761   885.390078  1304.238035
Barcelona  839.507446  1065.145893  1547.191482

In [139]:
## UPDATING THE BUDGET BASED ON THE PROFILE
budget=0
budget= budget + profiles_df.loc[city,Profiles]

budget

1065.1458930121473

In [140]:
questions_df

                                     param  Barcelona  Lisbon
0  Fitness Club, Monthly Fee for 1 Adult        42.48   37.50
1  Tennis Court Rent (1 Hour on Weekend)        22.52   11.33

In [141]:
## sportif person??

#time.sleep(3)
print("Thank you! That's great")
time.sleep(1)

answer= input("\Are you an active person? Are you planning enrolling in a gym or paid sport activity? (Y/N)")

time.sleep(1)

if answer.upper()!= "Y" and answer.lower()!= "N":
    answer=input("Sorry, I couldn't understand that. \n Are you planning enrolling in a gym or paid sport activity? (Y/N)")
else: 
    pass

if answer=="Y":
    budget= budget + questions_df.loc[0, city]
elif answer=="N":
    pass

budget

Thank you! That's great

1065.1458930121473

In [142]:
qtts_df

,param,Barcelona,Lisbon,Basic
0,Cigarettes,5.00,5.30,1.000000
1,"Cinema, International Release, 1 Seat",9.00,7.10,1.000000
2,1 Pair of Jeans (Levis,73.28,76.50,0.166667
3,"1 Summer Dress in a Chain Store (Zara, H&M, .....",31.18,31.27,0.166667
4,1 Pair of Nike Running Shoes (Mid-Range),76.62,68.43,1.000000
5,1 Pair of Men Leather Business Shoes,101.15,89.66,1.000000

In [143]:
### CULTURAL HABITS

print("Thank you! We're nearly there!")
time.sleep(1)

print("Now, on your cultural habits... Do you like going to cinema, theathers, museums,etc?\n")
answer= input("How many times would you say you go on a paid cultural activity per month?")

if answer.isalnum():
    pass
else:
    answer=input("Sorry, I couldn't understand that. \n How many times would you say you go on a paid cultural activity per month?")

activity="Cinema, International Release, 1 Seat"

activity_index=1

activity_costs=qtts_df.loc[activity_index, city]


#budget= budget + questions_df.loc[0, city]


#time.sleep(1)
activity_costs=int(activity_costs)

budget=budget+activity_costs
budget

Thank you! We're nearly there!
Now, on your cultural habits... Do you like going to cinema, theathers, museums,etc?

1074.1458930121473

In [144]:
## SMOKER

print("One more question about your consumption habits...")
time.sleep(1)

answer= input("Are you a smoker?(Y/N)")

time.sleep(1)

if answer.upper()!= "Y" and answer.upper()!= "N":
    answer=input("Sorry, I couldn't understand that. \n Are you a smoker?(Y/N)")
else: 
    pass

One more question about your consumption habits...

In [145]:
## UPDATE BUDGET WITH CIGARETTES COUNT CIGARRETES


if answer.upper()=="N":
    cigarrete_cost=0
    pass

elif answer.upper()=="Y":
    sub_answer= input("OK, no judment here. How many cigarates would you say you smoke per day?")

    if sub_answer.isalnum():
        cigarette_index=0

        cigarrete_cost=qtts_df.loc[cigarette_index, city]
    else:
        answer=input("Sorry, I couldn't understand that. \n How many cigarretes would you say you smoke per day?")

print(cigarrete_cost)

0

In [146]:
## HOUSING CHOICE

print("GREAT! We're nearly there. Now we just need to tell us about your accomodation preferences.\n Would you prefer to live on:")
time.sleep(1)

answer= input("Room in a house share. (R) \n Live on your own. (A)")

if answer.upper()!= "R" and answer.upper()!= "A":
    answer=input("Sorry, I couldn't understand that. \n What do you prefer? \n Room in a house share. (R) \n Live on your own. (A)")
else: 
    pass
time.sleep(1)

GREAT! We're nearly there. Now we just need to tell us about your accomodation preferences.
 Would you prefer to live on:

In [179]:
## RETRIEVEING THE LIST OF HOUSING OPTIONS

if answer.upper()=="R":
    acomm_type="Bedroom"
elif answer.upper()=="A":
    acomm_type="Entire Place"


houses_df_in_use=dict_city[city.lower()]

houses_df_in_use=houses_df_in_use[houses_df_in_use["typology"]==acomm_type]

houses_df_in_use["Name"]=houses_df_in_use["typology"] + " " + houses_df_in_use["Unnamed: 0"].astype(str)

houses_df_in_use= houses_df_in_use[["Name","cost_month","neighbourhood","url"]]


houses_df_in_use

C:\Users\te_sa\AppData\Local\Temp\ipykernel_23280\3176342190.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  houses_df_in_use["Name"]=houses_df_in_use["typology"] + " " + houses_df_in_use["Unnamed: 0"].astype(str)

,Name,cost_month,neighbourhood,url
0,Bedroom 0,€600,La Nova Esquerra de l'Eixample (Eixample),https://www.uniplaces.com/accommodation/barcel...
1,Bedroom 1,€450,Sants (Sants - Montjuïc),https://www.uniplaces.com/accommodation/barcel...
2,Bedroom 2,€495,El Raval (Ciutat Vella),https://www.uniplaces.com/accommodation/barcel...
4,Bedroom 4,€470,El Baix Guinardó (Horta - Guinardó),https://www.uniplaces.com/accommodation/barcel...
5,Bedroom 5,€500,El Parc i la Llacuna del Poblenou (Sant Martí),https://www.uniplaces.com/accommodation/barcel...
7,Bedroom 7,€439,El Raval (Ciutat Vella),https://www.uniplaces.com/accommodation/barcel...
12,Bedroom 12,€680,El Parc i la Llacuna del Poblenou (Sant Martí),https://www.uniplaces.com/accommodation/barcel...
13,Bedroom 13,€450,El Camp de l'Arpa del Clot (Sant Martí),https://www.uniplaces.com/accommodation/barcel...
35,Bedroom 35,€480,La Maternitat i Sant Ramon (Les Corts),https://www.uniplaces.com/accommodation/barcel...
37,Bedroom 37,€610,El Fort Pienc (Eixample),https://www.uniplaces.com/accommodation/barcel...
41,Bedroom 41,€644,La Salut (Gràcia),https://www.uniplaces.com/accommodation/barcel...

In [180]:
city

'Barcelona'

In [181]:
# def filter_acm_type(x):

In [182]:
print("WELCOME to our budget generator! \n Exciting times ahead!! If you're here is because you're feeling your feet itchy and want to go abroad, are we right?! \n We're to help you make the best decision and give you an honest answer of how much you are expected to spend per month based on your profile. \n But first we need to ask you a few questions.")
time.sleep(2)

WELCOME to our budget generator!
 Exciting times ahead!! If you're here is because you're feeling your feet itchy and want to go abroad, are we right?!
 We're to help you make the best decision and give you an honest answer of how much you are expected to spend per month based on your profile.
 But first we need to ask you a few questions.

In [183]:
print(Fore.GREEN + 'This text is red in color')

This text is red in color

In [184]:
print(Back.GREEN + Fore.BLACK + Style.DIM +'and with a green background')

and with a green background

In [185]:
print(Back.GREEN + Fore.BLACK + Style.BRIGHT +'and with a green background')

and with a green background

In [186]:
# Fore: BLACK, RED, GREEN, YELLOW, BLUE, MAGENTA, CYAN, WHITE, RESET.
# Back: BLACK, RED, GREEN, YELLOW, BLUE, MAGENTA, CYAN, WHITE, RESET.
# Style: DIM, NORMAL, BRIGHT, RESET_ALL