In [14]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import time

In [15]:
cities_list=["Lisbon", 'Barcelona']
city= "Lisbon"

In [28]:
##function to get data for certain city

def webscrab_items(cities):
    final = []
    time.sleep(4)
   
     ## requesting getting the information for the website. We can  define which list of cities we want
    for city in cities:
        url="https://www.numbeo.com/cost-of-living/in/" + city

        response =  requests.get(url)
        print(response.status_code)

        ##first look at the content
        soup = BeautifulSoup(response.content)
        
        ## find the table that is the parent tag of the tags I want 
        table_soup = soup.find("table", attrs={"class": "data_wide_table new_bar_table"})
        

        type(table_soup)

        ## LOOKING FOR ALL THE ITEMS FROM WHERE WE WANT THE PRICE

        item_catg = table_soup.find_all("tr")


        items_list = [item.text for item in item_catg]

        ## We need to treat the data. WE just want the info before the price
        param_priced=[]

        for i in items_list:
            try:
                #print(i)
                span = re.search(' [0-9]\S',i).span()[0]
                param_priced.append(i[:span]) 
                
            except:
                pass
        
        price_li = table_soup.find_all("span", attrs= {"class": "first_currency"})

        price_clean = [price.text.replace("\xa0", " ") for price in price_li]

        final.append({'param': param_priced, city : price_clean})

    return final

In [29]:
data = webscrab_items(cities_list)

200
200

In [32]:
bar = pd.DataFrame.from_dict(data[1])

In [35]:
lis = pd.DataFrame.from_dict(data[0])
merged_df=pd.merge(bar,lis)
merged_df

,param,Barcelona,Lisbon
0,"Meal, Inexpensive Restaurant",13.45 €,12.00 €
1,"Meal for 2 People, Mid-range Restaurant, Three...",60.00 €,50.00 €
2,McMeal at McDonalds (or Equivalent Combo Meal),9.00 €,7.00 €
3,Domestic Beer (0.5 liter draught),3.00 €,2.50 €
4,Imported Beer (0.33 liter bottle),3.50 €,3.00 €
5,Imported Beer (0.33 liter bottle),3.50 €,2.00 €
6,Imported Beer (0.33 liter bottle),1.64 €,3.00 €
7,Imported Beer (0.33 liter bottle),1.64 €,2.00 €
8,Cappuccino (regular),2.27 €,1.91 €
9,Coke/Pepsi (0.33 liter bottle),2.08 €,1.59 €
10,Water (0.33 liter bottle),1.42 €,1.12 €
11,"Milk (regular), (1 liter)",0.95 €,0.81 €
12,Loaf of Fresh White Bread (500g),1.44 €,1.25 €
13,"Rice (white), (1kg)",1.26 €,1.21 €
14,Eggs (regular) (12),2.43 €,2.37 €
15,Local Cheese (1kg),11.67 €,8.76 €
16,Chicken Fillets (1kg),7.09 €,6.64 €
17,Beef Round (1kg) (or Equivalent Back Leg Red M...,11.53 €,10.31 €
18,Apples (1kg),1.96 €,1.82 €
19,Banana (1kg),1.84 €,1.26 €
20,Oranges (1kg),1.71 €,1.39 €
21,Tomato (1kg),2.16 €,1.87 €
22,Potato (1kg),1.33 €,1.11 €
23,Onion (1kg),1.45 €,1.16 €
24,Lettuce (1 head),1.01 €,1.20 €
25,Water (1.5 liter bottle),0.77 €,0.77 €
26,Bottle of Wine (Mid-Range),6.00 €,4.50 €
27,Domestic Beer (0.5 liter bottle),1.11 €,1.23 €
28,Cigarettes,5.00 €,5.30 €
29,One-way Ticket (Local Transport),2.40 €,1.80 €
30,Monthly Pass (Regular Price),40.00 €,40.00 €
31,Taxi Start (Normal Tariff),3.00 €,3.50 €
32,Taxi,2.00 €,0.47 €
33,Taxi,2.00 €,14.80 €
34,Taxi,24.00 €,0.47 €
35,Taxi,24.00 €,14.80 €
36,Gasoline (1 liter),1.94 €,2.01 €
37,Volkswagen Golf,"24,999.00 €","27,000.00 €"
38,Toyota Corolla Sedan,"25,289.56 €","29,290.77 €"
39,"Basic (Electricity, Heating, Cooling, Water, G...",156.87 €,121.50 €
40,1 min. of Prepaid Mobile Tariff Local (No Disc...,0.23 €,0.17 €
41,"Internet (60 Mbps or More, Unlimited Data, Cab...",37.71 €,32.55 €
42,"Fitness Club, Monthly Fee for 1 Adult",42.48 €,37.50 €
43,Tennis Court Rent (1 Hour on Weekend),22.52 €,11.33 €
44,"Cinema, International Release, 1 Seat",9.00 €,7.10 €
45,"Preschool (or Kindergarten), Full Day, Private...",481.25 €,413.11 €
46,"International Primary School, Yearly for 1 Chi...","10,999.00 €","9,126.53 €"
47,1 Pair of Jeans (Levis,73.28 €,76.50 €
48,"1 Summer Dress in a Chain Store (Zara, H&M, .....",31.18 €,31.27 €
49,1 Pair of Nike Running Shoes (Mid-Range),76.62 €,68.43 €
50,1 Pair of Men Leather Business Shoes,101.15 €,89.66 €
51,Apartment (1 bedroom) in City Centre,"1,019.38 €","1,159.71 €"
52,Apartment (1 bedroom) Outside of Centre,790.65 €,772.27 €
53,Apartment (3 bedrooms) in City Centre,"1,692.00 €","1,997.96 €"
54,Apartment (3 bedrooms) Outside of Centre,"1,297.38 €","1,248.16 €"
55,Price per Square Meter to Buy Apartment in Cit...,"4,855.84 €","5,286.79 €"
56,Price per Square Meter to Buy Apartment Outsid...,"2,945.63 €","2,910.86 €"
57,Average Monthly Net Salary (After Tax),"1,825.89 €","1,091.27 €"
58,"Mortgage Interest Rate in Percentages (%), Yea...",2.12,2.19

In [36]:
merged_df.to_excel("costs_of_living.xlsx")